<!DOCTYPE html>
<html>
<%- include( './partials/head/_head.ejs' , { page: 'Edit Post' } ) %>
<body>
<%- include('./partials/navbar/_navbar', { routes } ) %>

<h1>Edit Post Page</h1>

<form action="/posts/<%= post.id %>?_method=PUT" method="POST">
  <label>Post Caption</label>
  <input type="text" placeholder="post caption" name="caption" value="<%= post.caption %>"/>
  <label>Post Image</label>
  <input type="text" placeholder="post image" name="image" value="<%= post.image %>"/>
  <a href="/posts/<%= post.id %> ">Cancel</a>
  <button>Edit Post</button>
</form>

</body>
</html>