<!DOCTYPE html>
<html>
<%- include( './partials/head/_head.ejs' , { page: '404' } ) %>
<body>
<%- include('./partials/navbar/_navbar', { routes } ) %>

<p>All Posts</p>
<% for(let idx = 0; idx < posts.length; idx++){ %> <% const post =
posts[idx] %>
<img src="<%= post.image %>" alt="Placeholder image" />

<a href="/posts/<%= post.id %>"><%= post.caption %> </a>
<p><%= post.bumpCount %> bumps</p>

<% } %>

</body>
</html>