<!DOCTYPE html>    
<html lang="en">
<%- include( '../partials/head/_head.ejs', { page: 'User' } ) %> 
<body>
<%- include('../partials/navbar/_navbar', { routes } ) %>

<% users.forEach(user => { %>
  <img src=" <%= user.avatar %> " alt="Placeholder image">
  <p><%= user.fullName %></p>
  <a href="/users/<%= user._id %>"> @<%= user.username %></a>
<% }) %>

</body>
</html>