<!DOCTYPE html>    
<html lang="en">
<!-- Head Partial -->
<%- include( '../partials/head/_head.ejs', { page: 'User' } ) %> 
<body>
<!-- Navbar Partial -->
<%- include('../partials/navbar/_navbar', { routes } ) %>


  <% users.forEach(user => { %>
    <div>
      <img src=" <%= user.avatar %> " alt="Placeholder image">
      <p><%= user.fullName %></p>
      <a href="/users/<%= user._id %>"> @<%= user.username %></a>
    </div>
  <% }) %>

</body>
</html>