<!DOCTYPE html>
<html>
<%- include( '../partials/head/_head.ejs' , { page: 'My Profile' } ) %>
<body>
<%- include('../partials/navbar/_navbar', { routes } ) %>

<section class="section is-medium has-background-primary mb-6">
  <h1 class="title"><%= user.username %>'s Profile</h1>
  <h2 class="subtitle">
    A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
  </h2>
</section>

<div class="columns">
<% post.forEach(post=> { %>
  <!-- Image Card -->
  <!-- <div class="container column is-fluid is-one-third"> -->
  <div class="container column is-fluid is-one-third">
  <div class="card">
    <div class="card-image">
      <figure class="image">
        <a href="../posts/<%= post.id %> ">
          <img src="<%= post.image %>" alt="<%= user.username %>'s post">
        </a>
      </figure>
    </div>
    <div class="card-content">
      <div class="content">
        <p><%= post.caption %></p> 
        <p><%= post.bumpCount.length %> </p>
        <time><%= (post.createdAt).toLocaleString() %></time>
      </div>
    </div>
  </div>
  </div>
<% }) %>
</div>
</body>
</html>