<!DOCTYPE html>
<html>
<%- include( '../partials/head/_head.ejs' , { page: 'Post' } ) %>
<body>
<%- include('../partials/navbar/_navbar', { routes } ) %>



<div class="columns">
<% post.forEach(post=> { %>
  <!-- Image Card -->
  <!-- <div class="container column is-fluid is-one-third"> -->
  <div class="container column is-fluid is-one-third">
  <div class="card">
    <div class="card-image">
      <figure class="image">
        <img src="<%= post.image %>" alt="<%= user.username %>'s post">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-96x96">
            <img src="<%= user.avatar %> " alt="<%= user.username %>'s avatar">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4"><%= user.fullName %> </p>
          <p class="subtitle is-6">@<%= user.username %> </p>
        </div>
      </div>
      <div class="content">
        <%= post.caption %> 
        <a href="#">#css</a> <a href="#">#responsive</a>
        <br>
        <time><%= (post.createdAt).toLocaleString() %></time>
      </div>
    </div>
  </div>
  </div>
<% }) %>
</div>
</body>
</html>