<!DOCTYPE html>
<html>
<%- include( '../partials/head/_head.ejs' , { page: 'Post' } ) %>
<body>
<%- include('../partials/navbar/_navbar', { routes } ) %>

<img src="<%= user.avatar %>" alt="">
<h3><%= user.fullName %>'s Profile</h3>
<h3>@<%= user.username %></h3>

<% post.forEach(post=> { %>
  <img src="<%= post.image %>" alt="Placeholder image">
  <a href="/posts/<%= post._id %>"><%= post.caption %></a>
  <time datetime="2018-1-1"><%= new Date(post.createdAt).toLocaleString() %></time>
<% }) %>
</body>
</html>