<!DOCTYPE html>    
<html lang="en">
<%- include( '../partials/head/_head.ejs', { page: 'Users' } ) %> 
<body>
<%- include('../partials/navbar/_navbar', { routes } ) %>
<% posts.forEach(post => { %>
  <img src=" <%= post.user.avatar %> " alt="user name">
  <p><%= post.user.fullName %></p>
  <a href="/users/<%= post.user.id %> ">@<%= post.user.username %></a>
  <img src="<%= post.image %>" alt="user name">
  <a href="/posts/<%= post._id %>"><%= post.caption %></a>
  <time><%= new Date(post.createdAt).toLocaleString() %></time>
<% }) %>

</body>
</html>
