<!DOCTYPE html>
<html lang="en">
  <!-- Head partial -->
  <%- include('../partials/head/_head', { page: 'Posts' }) %>

  <body class="has-navbar-fixed-top">
    <!-- Navbar Partial -->
    <%- include('../partials/navbar/_navbar', { routes } ) %>

    <section class="hero is-medium has-background-light">
      <div class="hero-body">
        <p class="title">All Posts</p>
      </div>
    </section>

    <main class="container">
      <div class="columns is-multiline p-5">
        <% for(let idx = 0; idx < posts.length; idx++){ %> <% const post =
        posts[idx] %>

        <div class="column ">
          <article class="card">
            <section class="card-image">
              <figure class="image is-3by3">
                <img src="<%= post.image %>" alt="Placeholder image" />
              </figure>
            </section>
            <div class="card-content">
              <div class="content">
                <h3>
                  <a href="/posts/<%= post._id %>"><%= post.name %> </a>
                </h3>

                <p><%= posts.caption %>$</p>
              </div>
            </div>
          </article>
        </div>
        <% } %>
      </div>
    </main>
  </body>
</html>
