<!DOCTYPE html>
<html>
	<!-- head -->
	<%- include( '../partials/head/_head.ejs', { page: 'Post' } ) %> 

  <body class="has-navbar-fixed-top">
        <!-- Navbar Partial -->
        <%- include('../partials/navbar/_navbar', { routes } ) %>
    <!-- https://bulma.io/documentation/components/navbar/#fixed-navbar -->
    
    <section class="hero is-medium has-background-light">
      <div class="hero-body">
        <h1 class="title">Post Show Page</h1>
      </div>
    </section> 
  
    <div class="container is-max-widescreen p-5">
      <article class="media">
        <figure class="media-left">
          <p class="image is-328x328">
            <img src="<%= post.image %>" alt="Post img" />
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <h3>Caption: <%= post.caption %></h3>
            <small>Bump Count: <%= post.bumpCount %></small>
          </div>
          <button><a href="/posts/<%= post._id/edit%>">Edit</a></button>
        </div>
      </article>
    </div>
  
</body>
</html>