<!DOCTYPE html>
<%- include( '../partials/head/_head.ejs', { page: 'View Post' } ) %> 
<html>
<%- include('../partials/navbar/_navbar', { routes } ) %>
<body>
<div class="columns body-columns">
  <div class="column is-half is-offset-one-quarter">
    <div class="card my-6">
      <div class="header">
        <div class="media">
          <p><%= post.caption %> </p>
      </div>
  </div>
  <div class="card-image">
      <figure class="image is-4by3">
          <img  src="<%= post.image %>" alt="Placeholder image">
      </figure>
  </div>
  <div class="card-content">
      <div class="level is-mobile">
          <div class="level-left">
              <div class="level-item has-text-centered">
                <form method='POST' action="/posts/<%= post._id%>/updateBumper">
                  <input class="button is-secondary" id="bumpButton" type='submit' value='Bump'>
                </form>
                <p>
                  Total Bumps: <strong><%= post.bumpCount.length %></strong>
              </p>
              </div>
            </div>
            <% if (user.id == post.user._id) { %>
              <a class="button is-secondary" href="/posts/<%= post._id%>/edit">Edit</a>
            <% } else { %>
  
            <% } %>
      </div>

      <div class="content">

          <br>
          <time>Created at <%= new Date(post.createdAt).toLocaleString() %></time>


      </div>
  </div>
</div>

</body>
</html>