<!DOCTYPE html>
<%- include( '../partials/head/_head.ejs', { page: 'Post' } ) %> 
<html>
<%- include('../partials/navbar/_navbar', { routes } ) %>

<header>
  <h1>Post Show Page</h1>
</header>

<img src="<%= post.image %>" alt="Post img" />
<h1>Caption: <%= post.caption %></h1>
<h1>Bump Count: <%= post.bumpCount.length %></h1>

<form method='POST' action="/posts/<%= post._id%>/updateBumper">
  <input type='submit' value='Bump'>
</form>

<% if (user.id == post.user._id) { %>
  <a href="/posts/<%= post._id%>/edit">Edit</a>
<% } else { %>

<% } %>

</body>
</html>